<header>
    <div class="container-fluid">
    <div class="row">
        <div class="col-md-2"><img src="../../assets/images/logo-small.png" class="admin-logo" alt="Logo"></div> 
        <div class="col-md-2"><div class="togglebtn">
                <button type="button" id="sidebarCollapse" class="btn ">
                    <mat-icon aria-hidden="false" aria-label="Example home icon">menu</mat-icon>
                </button>
                </div></div> 
        <div class="col-md-8">
            <ul class="profile-wrap">
            <li class="call-us"><span>Call Us: 9717123181/2 (24*7)</span></li>
            <li class="profile">
                <div class="profile-name">
                Ram Prasad
                <div class="grn-name">Admin</div>
                </div>
                <a href="javascript:void(0)">
                   <img src="../../assets/images/profile_small.jpg" alt="img">
                </a>
                <div class="profile-update">
                <ul>
                <li><a href="#">Update profile</a></li>
                <li><a href="#">Change password</a></li>
                <li><a href="#">logout</a></li>
                </ul>
                </div>
            </li>
            </ul>
        </div> 
        </div> 
        </div> 
    </header>