<app-header></app-header>
<div class="wrapper">
<app-leftmenu></app-leftmenu>
<div id="content">
    <!-- <router-outlet name="login1"></router-outlet> -->
			<div class="main-containt">
				<!--stats begain here-->
				
				<div class="stats">
				<div class="container-fluid">
					<h4><b>Hello Gyan</b> Please Review Your booking details</h4>
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped custm-table">
                            <thead>
                                <tr>
                                    <th colspan="4">Shri Hanuman Balaji Mandir Vivek Vihar-1, New Delhi-110095</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Sankalp Puja Vratam</td>
                                    <td>Rs. 1001/</td>
                                    <td> <mat-icon aria-hidden="false" aria-label=""> delete</mat-icon></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Ashirwad Vratam Puja </td>
                                    <td>Rs. 101/</td>
                                    <td> <mat-icon aria-hidden="false" aria-label=""> delete</mat-icon></td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="2" class="text-right">
                                        Total-<br/>GST@0%<br/><b>Net Total Payble-</b>
                                    </td>
                                    <td class="border-right-0"> 
                                        Rs. 1102<br/>Rs. 0<br/>Rs. 1102/
                                    </td>
                                    <td class="border-left-0"></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-xl-6"><div class="form-group"><label  for="textarea">Please Enter the Name of the Person Who will be in the pooja:</label>
                            <input type="text"  id="textarea"  placeholder="Enter text" name="textarea" class="form-control" /> </div></div>
                            <div class="col-sm-12 col-md-12 col-xl-4 calender">
                                <div class="form-group">
                                    <label>Select Date:-</label>
                                    <div class="input-group">
                                <input type="text" id="txtDate" class="form-control" /> 
                                <label class="input-group-btn" for="txtDate">
                                    <span class="btn btn-default">

                                            <mat-icon aria-hidden="false" aria-label=""> event</mat-icon>
                                       
                                    </span>
                                </label>
                            </div>
                            <div class="avail"><mat-icon aria-hidden="false" aria-label=""> verified</mat-icon>  Available</div>
                        </div>
                        <div class="punchange">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th colspan="2">Punchang of 22/03/2020</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td colspan="2">New Delhi, India<br/>Saturday, April 24, 2021</td>
                                    </tr>
                                    <tr>
                                        <td>Sunrise</td>
                                        <td>05:47 AM</td>
                                    </tr>
                                    <tr>
                                        <td>Sunset</td>
                                        <td>06:53 PM</td>
                                    </tr>
                                    <tr>
                                        <td>Nakshatra</td>
                                        <td>Purva Phalguni upto 06:22 AM</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-xl-2">
                            <div class="form-group">
                                <label>Time:-</label>
                            <input type="text"  class="form-control" /> 
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-xl-12 mt-5">
                        <div class="form-group text-center">
                            <label>Amount Payable- Rs 1102/</label>
                            <div class="input-group justify-content-center">
                                <button class="blue-btn-large d-flex">Proceed to Pay  <mat-icon class="ml-2" aria-hidden="false" aria-label="">east</mat-icon></button>
                              </div>
                    </div>
                </div>
                    </div>
				</div>
				</div>
				<!--stats end here-->
				
				
				
				
				</div>
				
			
			<!--containt sec end here-->
			
        	</div> 
</div>
<app-footer></app-footer>