<nav id="sidebar">
    <ul class="list-unstyled components">
    <li><a href="#"  class="spriteicon curtain active"><mat-icon aria-hidden="false" aria-label="Example home icon">dashboard</mat-icon>Dashboard</a> </li>
          <li   class="active">
              <a routerLink="/abouttemple"   class="spriteicon dashicon"><mat-icon aria-hidden="false" aria-label="Example home icon">model_training</mat-icon>About Temple</a>
           </li>
          <li><a href="#"  class="spriteicon curtain "><mat-icon aria-hidden="false" aria-label="Example home icon">add_task</mat-icon>Manage Pooja</a> </li>
          <li><a href="#"  class="spriteicon curtain "><mat-icon aria-hidden="false" aria-label="Example home icon">grading</mat-icon>Order</a> </li>
          <li><a href="#"  class="spriteicon curtain "><mat-icon aria-hidden="false" aria-label="Example home icon">manage_accounts</mat-icon> My Profile</a> </li>
          <li><a routerLink="/login"  class="spriteicon curtain "><mat-icon aria-hidden="false" aria-label="Example home icon">logout</mat-icon> Sign out</a> </li>
          
          <!--<li>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="spriteicon uploadresult dropdown-toggle ">Upload Result (Written)</a>
              <ul class="collapse list-unstyled" id="pageSubmenu">
                  <li class="childmenu" >
                      <a href="#ChildSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Candidate Wise</a> 
                      <ul class="collapse list-unstyled" id="ChildSubmenu">
                          <li><a href="#">Latest</a></li>
                          <li><a href="#">Bulk wise</a></li>
                      </ul>
                  </li>
                  <li><a href="#">Bulk wise</a> </li>
              </ul>
          </li>-->
         
          </ul>
               </nav> 