<div class="container-fluid">
	<div class="row">
		
		<div class="login-wraper">
			<div class="container">
				<div class="row">
					<div class="col-12 col-sm-12 col-md-12 col-xl-5 login-left">
						<h2>Pujat Login</h2>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the
						</p> 
					</div>
					<div class="col-12 col-sm-12 col-md-12 col-xl-7 pl-lg-0 login-sec">
					
						<form>
						<div class="ca-logo-sec">
					<img src="../../assets/images/logo.jpeg" alt="logo" />
					</div>
			  <div class="form-group mb-3">
			  <label>Username</label>
			  <div class="input-group">
				<input type="text" class="form-control border-right-0">
				<div class="input-group-append">
				  <span class="input-group-text"><mat-icon aria-hidden="false" aria-label="Example home icon">perm_identity</mat-icon></span>
				</div>
			  </div> 
			  </div>
			  <div class="form-group mb-3">
			  <label>Password</label>
			  <div class="input-group">
				<input type="text" class="form-control border-right-0" >
				<div class="input-group-append">
				  <span class="input-group-text"><mat-icon aria-hidden="false" aria-label="Example home icon">lock</mat-icon></span>
				</div>
			  </div>
			  </div>
			   
			   <div class="form-group mb-4">
				  <label>Captcha</label>
				  <div class="capcha-wraper">
				  <div class="capcha-img">
					<img src="../../assets/images/captcha.png" alt="capcha">
				  </div>
				  <div class="capcha-ref"><mat-icon aria-hidden="false" aria-label="Example home icon">cached</mat-icon></div>
				  <div class="capcha-val">
					<input type="text" class="form-control">
				  </div>
				  </div>
			  </div>
			  <div class="form-group mb-5">
				 <div class="remember-wrap custom-check">
					<div class="remember"><input type="checkbox" id="remember"/> <label for="remember">Remember Me</label></div>
					<div class="remember">Forgot Password ? <a href="#">Click here</a></div>
				 </div>
			  </div>
			  <div class="form-group">
				  <div class="input-group justify-content-center">
					<button class="blue-btn-large">Login</button>
				  </div>
			  </div>
			</form>
		
					</div>
				</div>
			</div>
		</div>
		<footer class="footerarea">
			<div class="footerbottom">
				<div class="container">
					<div class="row pt-3">
						<div class="co-12 col-sm-12 col-md-12 text-center">
							
						<p class="copyrightext">Copyright © 2021 Pujat, All Rights Reserved.</p>
						</div>
						
					</div>
				</div>
			</div>
		</footer>
	</div>
</div>